.App {
  display: flex;
  padding-left: 2rem;
  background-color: lightgray;
  height: 100vh;
  width: 100vw;
}

/**
* Chat Library
*/
.chat-library {
  width: 15rem;
}

h2 {
  margin-bottom: .5rem
}

.chat-library-item {
  margin-bottom: 1rem;
  padding: .5rem 0 .5rem 2rem;
  border-radius: 4px;
}

.chat-library-item:hover {
  cursor: pointer;
  background-color: grey;
}

.chat-library-item.selected {
  border: 1px solid gray
}

.chat-library-item--name {
  font-size: 16px;
  font-weight: 500
}

.chat-library-item--message {
  font-size: 12px;
}

.unread {
  position: relative;
}

.unread:before {
  content: '';
  height: 5px;
  width: 5px;
  border-radius: 100%;
  background-color: green;
  position: absolute;
  top: 50%;
  left: 1rem;
}

.unread .chat-library-item--message {
  font-weight: 600;
}

/**
* Chat Box
*/
.chat-box--container {
  flex-grow: 1;
  background-color: white;
  margin: 2rem;
  height: calc(100% - 4rem);
  border-radius: 4px;
}

.chat-box {
  height: inherit;
}

.chat-box--scroll-container {
  overflow-y: scroll;
  margin: 1rem 2rem .5rem;
  height: inherit;
}

.chat-box--empty {
  font-size: 32px;
  text-align: center;
  margin-top: 5rem;
}

.chat-box--username {
  font-size: 32px;
  padding: 1rem 1rem 1rem 2rem;
}

.chat-box .messages {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.selected-chat-message {
  padding: .5rem;
  color: white;
  border-radius: 8px;
}

.selected-chat-message.you {
  align-self: flex-end;
  background-color: blue;
  border-top-right-radius: 0;
}

.selected-chat-message.them {
  align-self: flex-start;
  background-color: darkgray;
  border-top-left-radius: 0;
}

.chat-box--form {
  display: flex;
  justify-content: space-evenly;
}

.chat-box--input {
  width: 70%;
}